@import "styles/normalize.css";

:root {
	--theme-focus: #0B1320;
	--theme-accent: #213F60;
	--theme-error: #B12020;

	--theme-seismic-zone-2: #D4A52B;
	--theme-seismic-zone-4: #C53333;
}

html, body {
	font-size: 12px;
	font-family: 'Manrope', sans-serif;
}

@media (min-width: 320px) {
	html, body { font-size: 13px; }
}

@media (min-width: 640px) {
	html, body { font-size: 14px; }
}

@media (min-width: 1280px) {
	html, body { font-size: 16px; }
}