@import "styles/normalize.css";

:root {
	--theme-focus: #0B1320;
	--theme-accent: #213F60;
	--theme-error: #B12020;

	--theme-seismic-zone-2: #D4A52B;
	--theme-seismic-zone-4: #C53333;
}

html, body {
	font-size: 11px;
	font-family: 'Manrope', sans-serif;
	background: #1a1a1a;
}

@media (min-width: 320px) {
	html, body { font-size: 12px; }
}

@media (min-width: 480px) {
	html, body { font-size: 13px; }
}

@media (min-width: 640px) {
	html, body { font-size: 14px; }
}

@media (min-width: 1280px) {
	html, body { font-size: 16px; }
}

/* other generic styles */

a.link {
	display: inline-block;
	color: var(--theme-accent);
	text-decoration: none;
	font-size: 0.9rem;
	font-weight: 700;
}

hr {
	display: block;
	width: 100%;
	border: none;
	border-top: 1px solid rgb(0 0 0 / 10%);
}

.text-modal {
	max-width: 48rem;
}

.text-modal .prose {
	padding: 1rem 2rem;
}

.text-modal .button-group {
	padding: 1rem 2rem;
	background: #f7f7f7;
}
